{# Site-wide WebSite + Organization structured data (homepage). #}
{% load static %}
{% spaceless %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "BlogSphere",
  "url": "{{ request.scheme }}://{{ request.get_host }}/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ request.scheme }}://{{ request.get_host }}{% url 'search' %}?keyword={search_term_string}",
    "query-input": "required name=search_term_string"
  },
  "publisher": {
    "@type": "Organization",
    "name": "BlogSphere",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ request.scheme }}://{{ request.get_host }}{% static 'images/logo.png' %}"
    }
  }
}
</script>
{% endspaceless %}
