{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    {% include 'dashboard/sidebar.html' %}

    <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h2>Edit User: {{ edit_user.username }}</h2>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 class="mt-4">Account</h5>
            {{ form | crispy }}
            <h5 class="mt-4">Profile</h5>
            {{ profile_form | crispy }}
            <button type="submit" class="btn btn-warning">Save</button>
            <a href="{% url 'author_profile' edit_user.username %}" class="btn btn-outline-secondary" target="_blank">View public profile</a>
        </form>
        <br>
        {% else %}
        <h5>You do not have permission to view this page</h5>
        {% endif %}
    </div>
</div>

{% endblock %}
